body{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
}

div#content {
    height: 100%;
}

.sidebar {
    width: 20vw;
    height: 100%;
    background-color: #761212;
    float: left;
    position: fixed;
}

.figureFoto {
    height: auto;
    padding-top: 2vw;
    text-align: center;
    margin-top: 1vw;
}

.figureFoto img {
    border-radius: 50vw;
    width: 13vw;
    height: auto;
    border: 0.8vw solid #ab3000;
    position: relative;
}

menu {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.4vw;
    padding-inline-start: 0px !important;
}

ul {
    width: 100%;
    height: auto;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 1vw;
}

li a {
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}

.activeLink{
    color: #ebd6c6;
}

.inactiveLink{
    color: #d69477;
}

.side2 {
    width: 80%;
    position: relative;
    float: right;
}

.info {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    position: fixed;
}

section.nome {
    margin-left: 3vw;
    font-size: 5vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
}

section.nome h1 {
    font-size: 6vw;
    height: 6vw;
    margin-bottom: 2vw;
}

.colorCharge{
    color: #b26241;
}

.linkEmail{
    color: #b26241;
}

.endereco {
    margin-left: 3vw;
    font-size: 2.3vw;
    font-variant-caps: all-small-caps;
    height: 8vw;
}

section.endereco h3 {
    height: 4vw;
    font-size: 2vw;
    font-family: system-ui;
}

a.linkEmail {
    text-decoration: none;
}

section.endereco a {
    float: left;
    margin-left: 0vw;
}

section.sobre p {
    font-size: 2vw;
    font-family: system-ui;
    margin-left: 3vw;
    margin-top: 3vw;
    color: #707070;
    margin-right: 2vw;
    background-color: #ebebeb;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 2vw;
}

section.sobre {
    width: 65vw;
}

section.tel a {
    text-decoration: none;
    color: #b26241;
    font-size: 2vw;
    font-family: inherit;
    height: 2vw;
}

section.socialLink {
    width: 100%;
    text-align: left;
    padding-left: 5vw;
}

section.socialLink img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

section.infoConh {
    width: 50vw;
    background-color: #eaeaea;
    border-radius: 20px;
    margin-left: 4vw;
    margin-top: 20vh;
}

section.titleInfoC {
    background-color: #761212;
    height: 10vh;
    border-radius: 20px 20px 0 0;
}

section.titleInfoC h1 {
    margin-left: 10px;
    padding-top: 10px;
    font-size: 2rem;
    color: #ebd6c6;
    font-family: monospace;
    text-shadow: -8px -9px 20px #ff4800;
}

section.infoConh ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-top: 12px;
}

section.infoConh li {
    font-size: 1.5rem;
}

section.obj p {
    font-size: 1.5rem;
    font-family: verdana;
    margin-left: 20px;
    padding-top: 10px;
}

section.tel {
    margin-left: 30vw;
}